body{
  color: black;
}

.tituloPrincipal{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}

hr {
  height: 1px;
  margin-top: 5px;
  margin-left: 0%;
  margin-right: 0%;
  background-color: black;
}